.save {
    background: green;
    color: white;
}

.delete {
    background: red;
    color: white;
}

input {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
}

li {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}